@font-face {
	font-family: 'mplusblack';
	src: url(fonts/MPLUS1p-Black.ttf);
}
@font-face {
    font-family: 'mplusregular';
    src: url(fonts/MPLUS1p-Regular.ttf);
}
.field {
    display: flex;
}
nav {
        width: 100%;
        height: 90px;
        background-color: rgb(214, 214, 214);
        padding-top: 5px;
        box-sizing: border-box;
        border: 5px #82c3cc solid;
}
ul {
        display: flex;
}
li {
        display: block;
        text-decoration: none;
        color: white;
        margin-right: 35px;
        font-family: "mplusregular";
        font-size: 25px;
}
a {
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin-right: 35px;
}
a:hover {
        color: rgb(81, 200, 255);
        text-decoration:underline;
        text-decoration-color: rgb(81, 200, 255);
}
h1 {
    font-size: 80px;
    background-color: #82c3cc;
    color: #82c3cc;
    padding: 17px 20px;
    font-family: "mplusblack";
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
}
h1:hover{
        font-size: 80px;
        background-color: #82c3cc;
        color: #ffffff;
        padding: 17px 20px;
        font-family: "mplusblack";
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #ffffff;   
}
p {
        font-size: 50px;
        color: #ffffff;
        font-family: "mplusblack";
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000000;   
}
table th{
        font-size: 40px;
        font-family: "mplusblack";
        padding: 10px 20px;
        color: #6495ed;
        background: #b1dffc;
        -webkit-text-stroke-width: 1.4px;
        -webkit-text-stroke-color: #ffffff;
}
table td{
        font-size: 30px;
        font-family: "mplusregular";
        color: #000000;
        background: #e7fdfd;
}
table th, table td{
        border: dashed 3px #a7c1d1;
        text-align: center;
}
table {
        border-collapse: collapse;
        border: solid 5px #9fbce7;
}
iframe {
        border: 5px #1e90ff solid;
}