header{
    transition: 0.2s;
    font-size: 140px;
    text-align:center;
    background: #2a2a2a;
    color: white;
}
header:hover{
  transition: 0.2s;
  color: rgb(201, 201, 201);
  background-color: #3f3f3f;
}
html{
  background-color: #5a5a5a;
}
.card {
    transition: 0.2s;
      background-color: #2a2a2a;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 20px;
      max-width: 900px;
      max-height: 1000;
      margin: auto;
    }

    .thumbnail {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      margin-right: 15px;
    }

    .info {
      flex: 1;
    }
    .date {
      font-size: 12px;
      color: #888;
    }
    .title {
      font-size: 16px;
      color: #69b3f0;
      margin-bottom: 5px;
    }

    .right-links {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;
      font-size: 20px;
      color: white;
    }

    .right-links a {
      color: #66ccff;
      text-decoration: none;
    }

    .suikagame :hover{
        background-color: #757575;
        transition: 0.2s;
        max-width: 1000px;
    }

    h1{
        text-align: center;
    }

    a{
      transition: 0.2s;
      color: #66ccff;
      font-size: 15px;
    }
    a:hover{
      transition: 0.2s;
      color: #a1e0ff;
      font-size: 20px;
    }
